body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* removes title and footer that naturally happens with window.print() */
@page {
  size: auto;
  margin: 0;
}

body{
  -webkit-print-color-adjust: exact; /* corrects print() not showing some css like backgrounds */
}

textarea {   
  cursor: auto;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
  cursor: pointer;
}


#no-mobile{
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#no-mobile h1{
  color: white;
}

#no-mobile p{
  color: white;
  margin-bottom: 2rem;
}

#no-mobile-message{
  opacity: .5;
}

#mobile-templates{
  display: none;
}

#mobile-template-select{
  display: none;
}

@media only screen and (max-width: 1450px) {
  /* #no-mobile{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: #222;
    z-index: 999;
  } */


  #desktop-templates{
    display: none;
  }

  #mobile-templates{
    display: block;
    margin-top: 4rem;
  }

  #program-title{
    text-align: center;
    margin-bottom: 3rem;
  }

  #home-page{
    flex-direction: column;
    width: 100vw;
  }

  #template-select{
    flex-direction: column;
  }

  #primary-info-forms-container{
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    margin-top: -3rem;
  }

  #primary-info-forms{
    width: 20rem;
    margin-top: -2rem;
  }

  #tabs-container{
    position: relative;
    
  }

  #jobs-container{
    display: flex;
    justify-content: center;
  }

  #forms-jobs{

  }

  #tabs-container{
    margin-top: 0rem;
  }

  #contents-template-one{
    scale: .3;
    position: relative;
    right: 260px;
    bottom: 300px;
  }

  #contents-template-two{
    scale: .3;
    position: relative;
    right: 260px;
    bottom: 300px;

  }

  .page-end-line{
    display: none;
  }

  #mobile-template-select{
    display: flex;
  }

  #template-icons{
    display: flex;
  }

  #show-template{
    display: none;
  }

  #right-forms-container{
    display: flex;
    justify-content: center;
    width: 100vw;
  }
  
  #right-forms{

  }

  .print-btn{
    margin-left: 25vw; 
  }


}
