.primary-color{
    color: rgb(9, 87, 151);
}

.secondary-color {
    color: rgb(214, 57, 83);
}

#template-one-page{
    display: flex;
}

#contents-template-one{
    border: 1px solid black;
    width: 816px;
    height: 1056px;
    border: 1px solid black;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 2rem;
    line-height: 1.6;
}

#top-row{
    display: flex;
}

#top-row-left{
    padding-right: 1rem;
}

#top-row-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#name{
    font-size: 3rem;
}

#input-column{
    display: flex;
    flex-direction: column;
    margin: 10rem;
}

#primary-info-forms{
    display: flex;
    flex-direction: column;
}

#skills-forms{
    margin-top: 5rem;
    margin: 10rem;
}

.skill-box{
    border: 1px solid black;
    overflow-y:scroll;
    height: 5rem;
}

/* #job-tabs-container{
    height: 15rem;
    width: 20rem;
    border: 1px solid black;
} */

#tabs-container{
    display: flex;
}

.tab-content{
    border-left: 1px solid black;
    border-right: 1px solid black;;
}


.forms-jobs{
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    /* padding: 1rem; */
}

#experience-and-skills{
    display: flex;
    justify-content: space-between;
}

#jobs-section{
    display: flex;
    flex-direction: column;
}

.company-and-date{
    font-size: .8rem;
}

.job-items{
    padding-left: 2rem;
}


#skills-column{
    /* width: 10rem; */
}

.left-border{
    border-left: 1px solid black;
    padding-left: 1rem;
}